QPushButton {
    background-color: #ffffff;
    border: 1px solid #dcdfe6;
    padding: 10px;
    border-radius: 15px;
}

QPushButton:hover {
    background-color: #ecf5ff;
    color: #409eff;
}

QPushButton:pressed {
    border: 1px solid #3a8ee6;
    color: #409eff;
}

QPushButton:checked {
    background-color: #ecf5ff;
    border: 1px solid #3a8ee6;
    color: #409eff;
}